html,
body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    text-align: justify;
}

body
{
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    font-size: 18px;
    color: #333;
}

.fairy-step,
.fairy-element
{
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.fairy-step.current,
.fairy-step.no-opacity
{
    opacity: 1 !important;
}
.fairy-step.show
{
    opacity: .3;
}
.fairy-element.show
{
    opacity: 1;
}
span.host
{
    border: rgb(59, 146, 236) solid 3px;
    background: #D3FFD3;
    padding: 4px;
}

pre.code-pre
{
    font-size: 18px;
    text-align: left;
    border: gray solid 1px;
    padding: 0 20px;
    border-radius: 10px;
    background: #eee;
    word-wrap: break-word;
}

pre.code-pre:after
{
    content: '\A';
    white-space: pre;
}

pre.code-pre .high-light
{
    background: rgb(255, 211, 219);
}

/* tab */
.tab
{
    position: fixed;
    z-index: 100;
    top: 5px;
    transition: 0.5s;
    transform: translateX(0);
}
.tab.close {
    transform: translateX(-310px);
}
.tab>div
{
    box-sizing: border-box;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    border: gray solid 1px;
    background: #eee;
    vertical-align: top;
}
.tab .sign {
    cursor: pointer;
    padding: 15px;
}
.tab .sign:after{
    content: "<"
}
.tab.close .sign:after{
    content: ">"
}
.tab .content
{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: gray solid 1px;
    background: #eee;
}
.tab .content .text {
    height: 150px;
    font-size: 28px;
    box-sizing: border-box;
    padding: 10px;
    border: gray solid 1px;
    outline: none;
}
.tab .content .img-container
{
    display: inline-block;
    width: 126px;
    height: 126px;
    text-align: center;
    line-height: 126px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.tab .content .img-container.hover{
    box-shadow: 0px 0px 5px #888888;
}
.tab .content .img-container img
{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}



.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}